.button
{
    border-radius: 0.3rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid #001348;
    outline: none;
    transition: 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.primary
    {
        background-color: #001348;
        color: #fafafa;
    }

    &.light
    {
        background-color: #F6F7F7;
        color: #333333;
        font-weight: 400;
        font-size: 18px;
        border: none;
    }

    &.min-width
    {
        min-width: 8rem;
    }

    &.large
    {
        padding: 0.8rem 2rem;
    }

    &.small
    {
        font-size: smaller;
        padding: 0.4rem 1rem;
    }
    
    .add-icon
    {
        height: 1rem;
        width: auto;
        margin-left: 0.7rem;
        align-self: center; 
    }
}