.hero
{
    background: rgba(0, 149, 216, 0.04);
    height: 85vh;
    display: flex;

    .section-1
    {
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        margin-left: 2rem;
        width: 50%;
        height: 70%;

        .titles
        {
            margin-bottom: 2rem;

            .title
            {
                width: 100%;
                font-size: 40px;
                color: #001348;
                padding-bottom: 1.5rem;
            }

            .subtitle
            {
                font-size: 18px;
                color: #333333;
            }
        }

        .actions
        {
            background-color: #FFFFFF;
            height: 5rem;
            width: 36rem;
            display: flex;
            align-items: center;
            padding-left: 2rem;
            border-radius: 8px;

            .button-1
            {
                margin-right: 1.5rem;
            }

            .button-2
            {
                margin-right: 3px;
            }
        }
    }

    .section-2
    {
        margin-right: 2rem;
        width: 50%;
        display: flex;
        position: relative;
        height: 70%;

        .section-background
        {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: row;
            top: 0;
            left: 0;
            height: 50%;

            .bcg-one
            {
                position: absolute;
                right: -32rem;
                top: 0;
            }
            .bcg-two
            {
                position: absolute;
                top: 2rem;
                left: 1rem;
            }
        }

        .main-image
        {
            position: absolute;
            z-index: 999;
            top: 1.5rem;     
        }
    }
}