.pitch
{
    margin-bottom: 7rem;

    .why-section
    {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title
        {
            align-self: flex-start;
            font-weight: 800;
            padding-bottom: 3rem;
            color: #18191F;
            font-size: 2.5rem;
        }
        .why-points-section
        {
            display: grid;
            gap: 1.5rem;
            width: 100%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2,1fr);

            .why-points
            {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                .icon-space
                {
                    background: #F4F5F7;
                    width: 30px;
                    height: 30px;
                    padding: 1rem;
                    margin-right: 1rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content
                {
                    font-size: 14px;
                    padding-bottom: 1rem;

                    .content-title
                    {
                        padding-bottom: 0.8rem;
                        color: #18191F;
                    }

                    .content-para
                    {
                        width: 80%;
                    }
                }
            }
        }
    
    }

    .customer-credits
    {
        background: #0095D8;
        margin-top: 5rem;
        height: 20rem;
        color: #fafafa;
        display: flex;
        padding: 3rem;
    }

    
}

