.section
{
    margin-top: 5rem;
    margin-bottom: 20rem;

    .title
    {
        text-align: center;
        margin-bottom: 4rem;
        .title-h2
        {
            overflow: hidden;
            color: #001348;
            font-weight: 700;
            font-size: 40px;
        }
        .title-h2::before,
        .title-h2::after
        {
            background-color: #000;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        .title-h2:before {
            right: 0.5em;
            margin-left: -50%;
            }
            
        .title-h2:after {
            left: 0.5em;
            margin-right: -50%;
        }

        .title-cont
        {
            color: #001348;
            font-weight: 700;
            font-size: 40px;
            padding-bottom: 1rem;
        }

    }

    .find-room
    {
        margin-top: 2rem;
        display: flex;
        padding: 0 3rem;

        .img-desc 
        {
            width: 50%;
        }

        .instructions
        {
            display: flex;
            width: 50%;
            flex-direction: column;

            .list
            {
                display: flex;
                margin-bottom: 2rem;

                .number
                {
                    text-align: center;
                    .numbering
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #001348;
                        color: #fff;
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        margin-bottom: 1rem;
                    }
                }
                .steps
                {
                    padding-left: 3rem;
                    .steps-title
                    {
                        font-size: 24px;
                        color:#18191F;
                    }

                    .steps-para
                    {
                        font-size: 15px;
                        padding-top: 0.3em;
                        width: 80%;
                        color: #666666;
                    }
                }
                
            }

        }
    }

    .featured-section
    {
        padding-top: 2rem;
        margin-top: 4rem;
        background: #FAFBFB;
        width: 100%;        

        .all-rooms
        {
            display: flex;
            flex-direction: row;
            margin: 0 1.2rem;
            justify-content: space-evenly;
            margin-bottom: 2rem;

            .room
            {
                background: #FFFFFF;
                .text
                {
                    padding: 0.1em 0.8rem;
                }
            }
        }

        .ft-button
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;
        }
    }
}